@import "tailwindcss";

@font-face {
    font-family: Geist;
    font-weight: 100 900;
    src: url("./assets/fonts/Geist[wght].woff2");
}

@font-face {
    font-family: Geist Mono;
    font-weight: 100 900;
    src: url("./assets/fonts/GeistMono[wght].woff2");
}

html {
    font-family: Geist, sans-serif;
    font-weight: 400;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}